/* сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

ul {
  list-style: none;
}


.profile {
  border-radius: 10px;
  border: 3px solid rgb(196, 190, 190);
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.description {
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
}

.avatar {
  width: 250px;
  box-shadow: 0 0 3px 0px #0000004d;
  border-radius: 50%;
  background-color: #e7eeeeed;
  padding: 20px 10px 0px 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.stats {
  margin: initial;
  padding-bottom: 5px;
  list-style: none;
  font-weight: 700;
  font-size: 20px;
}